<!-- Navigation Bar -->

<div class="col-xl-2 col-md-3 col-sm-4 col-5 buttonbox position-fixed ">

    <div class="h3 text-break mt-4 text-light">Paradise Book </div>
    <div class="h3 text-light">Store</div>
    <div class="btn-group-vertical container mb-4">
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="apps-outline" class="icon"></ion-icon>
            <span>Dashboard</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="book-outline"></ion-icon>
            <span>Book Info</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="bookmarks-outline"></ion-icon>
            <span>Author Info</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="home-outline"></ion-icon>
            <span>Shop Info</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="person-outline"></ion-icon>
            <span>User Info</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="document-outline"></ion-icon>
            <span>Order Info</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="sparkles-outline"></ion-icon>
            <span>Community</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4">
            <ion-icon name="settings-outline"></ion-icon>
            <span>Setting</span>
        </button>
        <button type="button" class="btn btn-light text-break mt-4 logout">Logout</button>
    </div>
</div>