:root {
    --primary-darkblue: #1f4287;
    --secondary-lightblue: #1f4287;
    --font-color1: #484343;
    --font-color2: #595e68;
    --font-color3: #2964da;
    --yellow-icon: #f4d221;
 }
img{
    width: 30%;
    height: 10vh;
    object-fit: cover;
}
.b{
    color: var(--primary-darkblue);
}
.underline{
    width: 100%;
    height: 30vh;
    color: black;
}
.my-card {
    border: 0.5px solid #ccc;
    
}
.my-card-img {
    width: 100%;
    background-color: var(--accent-color);
    padding: 20px 40px;
    text-align: center;
    
}
.my-card-img img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
   
}
.abd{
    color: var(--primary-darkblue);
}
.itemsclass{
    background-color: var(--primary-darkblue);
}

icon{
    color:b ;
}
.my-card-info {
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    color: var(--primary-color);
}
.card-button {
    background-color: var(--primary-color);
    color: white;
}