:root {
   --primary-darkblue: #1f4287;
   --secondary-lightblue: #1f4287;
   --bg-lightblue: #3e3e;
   --font-color1: #484343;
   --font-color2: #595e68;
   --yellow-icon: #f4d221;
}

.header {
   z-index: 1005;
}

.main-logo {
   width: 2.5rem;
   height: 2.5rem;
}

.categories {
   border-radius: 1.25rem;
}
.secondary-bg {
   width: 540px;
   height: 300px;
}

.shop-now {
   width: 200px;
}

.img-slide1 {
   width: 540px;
   height: 300px;
}

.img-slide2 {
   width: 500px;
   height: 300px;
}

.card-width {
   width: 200px;
}

.cs-width {
   width: 200px;
}

.hello {
   width: 700px;
   height: 180px;
}

.bg-lightBlue {
   background-color: #ebf1fd;
}

.book-card-lg {
   width: 250px;
   height: 500px;
}

.book-card-lg2 {
   width: 320px;
   height: 500px;
}

.circle-pink {
   background-color: red;
}

.scroll-to-top {
   bottom: 50px;
   right: 50px;
}

.scroll-to-top-d {
   display: none;
}

