:root {
   --primary-darkblue: #1f4287;
   --secondary-lightblue: #1f4287;
   --font-color1: #484343;
   --font-color2: #595e68;
   --font-color3: #2964da;
   --yellow-icon: #f4d221;
}

.wrapper {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ccc;
}
.inner-left {
   border-right: none;
   background-color: #fff;
}

.inner-right {
   border-left: none;
   /* background-color: blue; */
}

@media (max-width: 768px) {
   .inner-left,
   .inner-right {
      border: none;
   }
}
