*{
    margin: 0;
    padding: 0;
}
.buttonbox{
    height: 100%;
    background-color: var(--main-color);
    text-align: center;
}
.btn:hover{
    background-color: var( --btn-active-color);
}
.logout{
    background-color: var(--dashboard-items-color);
}
@media screen and (max-width:720px){
    
    button span{
        display: none;
    }
    .box1{
        height: 12vh;
    }
    .number,.quantity{
        display: none;
    }
}